 <ion-content fullscreen padding scroll-y="false">
      <ion-slides>
        <ion-slide>
          <img src="assets/1.png"/>
          <h2>Welcome to the <b>Eparks</b></h2>
          <p>Lorem ipsum dolor sit <b>amet</b>, consectetur adipiscing elit.</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/2.png"/>
          <h2>Ut enim ad minim veniam</h2>
          <p>voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/3.png"/>
          <h2>Phasellus vestibulum</h2>
          <p>Vel eros donec ac odio tempor orci dapibus ultrices</p>
        </ion-slide>

        <ion-slide>
          <img src="assets/4.png"/>
          <h2>Laoreet sit amet cursus</h2>
          <p>Et ultrices neque ornare aenean</p>
          <ion-button fill="clear" (click)="mulai()">Lanjut <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-slide>

      </ion-slides>
    </ion-content>