::ng-deep ion-label {
    font-size: 11px;
}
::ng-deep ion-header ion-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #222;
    margin-left: -48px;
    pointer-events: none;
}

ion-header{
	::ng-deep span.button-inner {
	    color: #0537b2;
	}
}
::ng-deep ion-header:after {
    display: none;
}

ion-radio-group ion-item {
    width: calc(25% - 10px);
    display: inline-block;
    border: solid 1px #c5d2f1;
    margin-right: 10px;
    height: calc(25vw - 10px);
    border-radius: 10px;
    ::ng-deep .item-inner {
        border: none!important;
    }
}
ion-label img {
    max-width: 29px;
}
ion-radio-group ion-item img {
}

ion-radio-group ion-item ion-radio {
    margin: 0;
    margin-right: -100%!important;
}

ion-radio-group ion-item span {
    display: block;
    font-size: 12px;
    margin-left: -70%;
    text-align: center;
}

ion-radio-group ion-item {
    left: 0;
}

ion-radio-group ion-item {
}

ion-radio-group ion-item ion-label {
    position: relative;
    margin: 20%;
    overflow: inherit;
}

ion-radio-group ion-item{
    --inner-padding-end: 0px;
    --padding-start:0px;
}
ion-item.item-radio-checked {
    border-color: #0adb56!important;
    background: #0adb56!important;
}
ion-list > ion-item {
    --background: #f1f3ff;
    margin-top: 20px;
    border-radius: 10px;
}
ion-list > ion-item ion-label {
    font-size: 14px!important;
    font-weight: 300!important;
}
ion-select {
    font-size: 14px;
}
ion-content  button {
    margin: 20px 0;
    width: 100%;
    line-height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    background: #0adb56;
}
// ion-item.item-radio-checked{
//     --background:  #0adb56!important;
// }